<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <ul><li>4.7.-28.9. Letní provozní doba!</li></ul>  
            <ul><li>Tyto stránky beží v NODE.JS s express frameworkem</li></ul>
            <ul><li>Databázi zabezpecuje služba MongoDB (mongoose).</li></ul>
            <ul><li>HTML bylo vygenerováno pomocí BlueGriffon GUI.</li></ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>