<%- include('komponenty/zahlavi.ejs')%>
<span style="position:absolute;z-index:14;      left:66px;top:307px;width:579px;height:225px">
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="579" height="225" style="vertical-align:top">
          <div class="shape" v:shape="_x0000_s1044" style="padding:2.88pt 2.88pt 2.88pt 2.88pt">
            <td width="411" height="261" valign="Top" style="width:308.25pt;height:195.8614pt;            padding-left:2.88pt;padding-right:2.88pt;padding-top:2.88pt;padding-bottom:            2.88pt">
              <p><Span>Kontakt</span></p>  
              <p><Span>&nbsp;</span></p>  
              <p><Span>Seifertova 996/31,<br/>  130 00&nbsp;Praha 3</span></p>  
              <p><Span>GPS sou&rcaron;adnice: 50.0853094N, 14.4313956E</span></p>  
              <p><Span>&nbsp;</span></p>  
              <p><Span>Telefon: 603 111 777 (PO–PÁ 10:00–18:00)<br/>  Telefon SK: +421 948 113 092 (PO–PÁ 10:00–18:00)</span></p>  
              <p><Span>E-mail:&nbsp;info@info.xxx</span></p>
            </td>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</span>
<%- include('komponenty/zapati.ejs')%>