<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <ul>
            <h2>Kontakt</h2>
            <li>Oty synka 1832/14, 708 00&nbsp; Ostrava</li>
            <li>Telefon: +420 734 281 525 (PO–PÁ 10:00–18:00)</li>
            <li>E-mail:&nbsp;eli.bencur@gmail.com</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>