<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <ul>
            <li>Kontakt</li>
            <li>Seifertova 996/31, 130 00&nbsp;Praha 3</li>
            <li>GPS sou&rcaron;adnice: 50.0853094N, 14.4313956E</li>
            <li>Telefon: 603 111 777 (PO–PÁ 10:00–18:00); Telefon SK: +421 948 113 092 (PO–PÁ 10:00–18:00)</li>
            <li>E-mail:&nbsp;info@info.xxx</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>