<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <ul><li>
            <p>Nový film</p>
            <p>______________________________________________________________________________________________________________</p>  
              <form action="/novyfilm" method="post" id="novy_film_formular">
                <div class="mb-3">
                  <label for="nazev_filmu">Název filmu:</label><br>
                  <input type="text" id="nazev_filmu" name="nazev_filmu" size="50"><br>
                  <label for="reziser">Jméno režiséra:</label><br>
                  <input type="text" id="reziser" name="reziser" size="50"><br>
                  <label for="rok_vydani">Rok vydání:</label><br>
                  <input type="text" id="rok_vydani" name="rok_vydani" size="20"><br>
                  <label for="popis">Krátký popis filmu:</label><br>
                  <textarea id="popis" rows = "3" cols = "70" name = "popis"></textarea>
                  <input type="submit" value="Vložit"><br>
                </div>
              </form>
            </li></ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>