<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <ul><li>Naše databáze neexistuje. Je to tak lepší, protože naše filmy by stejně nikomu neprospěly.</li></ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>