<%- include('komponenty/zahlavi.ejs')%>
<span style="position:absolute;z-index:14;      left:66px;top:307px;width:579px;height:225px">
  <table cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="579" height="225" style="vertical-align:top">
          <div class="shape" v:shape="_x0000_s1044" style="padding:2.88pt 2.88pt 2.88pt 2.88pt">
            <p><span>Naše databáze neexistuje. Je to tak lepší, protože naše filmy by stejně nikomu neprospěly.</span></p> 
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</span>
<%- include('komponenty/zapati.ejs')%>