<%- include('komponenty/zahlavi.ejs')%>
  <table>
    <tbody>
      <tr>
        <td>
          <div>
            <ul><li>Vítejte v mé databázi filmů. Můžete se podívat na seznam filmů, nebo mě kontaktovat na email uvedený v sekci "Kontakt".</li></ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<%- include('komponenty/zapati.ejs')%>