<!DOCTYPE html>
<html lang="cs-cz">
  <head lang="cs-cz">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style> 
      table {border-collapse: collapse; width: 100%;}
      tr {border-bottom: 1pt solid black; min-width: 110px;}
      th {height: 70px; min-width: 110px;}
    </style>
  </head>
  <body>
      <table>
      <tbody>
        <tr>
          <th>&nbsp;&nbsp;<img src="/obrazek.png" alt="DBF Logo" height="117" width="182"></th>
          <th></th>
          <th></th>
          <th><p><span> <a href="/novyfilm">/Vložit nový film/<br></a></span></p></th>
        </tr>
        <tr>
          <td><h1>&nbsp;&nbsp;&nbsp;Databáze filmů</h1></td>
          <td><p><a href="/onas"><span>O naší databázi</span></a></p></td>
          <td><p><a href="/seznam"><span>Seznam filmů</span></a></p></td>
          <td><p><a href="/kontakt"><span>Kontakt</span></a></p></td>
        </tr>
      </tbody>
    </table>